body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(135deg,#ffe7e7,#ffedde,#ffffe5,#eafff3,#e6ffff, #eddef1);
    /*background-color: navy;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*color: white;*/
    color: black;
    padding: 0;
    box-sizing: border-box;
    margin: 5px 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;

}
.hstack{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vstack{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
}

.circularImage{
    border-radius: 50%;
    margin-right: 10px;
}
.closeText{
    margin-top: 0;
    margin-bottom: 0;
}
.backBtn{
    align-items: start;
    margin-bottom: 5px;
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    width: 100px;
    height: 45px;
    font-size: 20px;
    padding: 5px;
    border: #000038 solid 2px;

}
.backBtn:hover{
    background-color: royalblue;
    color: white;
}
button{
    background-color: #ffbe69;
    border-radius: 5px;
    border: none;
    color: black;
    width: 90px;
    height: 45px;
    font-size: 18px;
    padding: 5px;
    /*font-family: "Trebuchet MS", serif;*/
    cursor: pointer;
    font-family: Lexend, sans-serif;
}
button:hover{
    background-color: #d16c00;
    color: white;
}
.container{
    display: flex;
    /*position: relative;*/
    align-items: center;
    /*background-color: #151959 ;*/
    background-color: mintcream ;
    width: 100%;
    min-height: 0;
    /*min-width: 300px;*/
    /*min-height: 150px;*/
    /*padding: 2%;*/
    overflow-y: auto;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin: 0 auto;*/
    /*border-radius: 25px;*/
    flex-direction: column;
    vertical-align: center;
    margin: 0;
    justify-content: flex-start;
    flex-grow: 1;
    height: calc(100vh - 170px); /* Adjust 150px to match the height of #logos */
    box-sizing: border-box;
    padding-bottom: 5px;
    border-top: #000038 solid 3px;
    border-bottom: #000038 solid 3px;
    position: relative;
    /*border-radius: 15px;*/
    overflow-x: hidden;
}

/*.container::before, .container::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 50px;*/
/*    height: 5px;*/
/*    border-radius: 15px;*/
/*    background-color: whitesmoke;*/
/*}*/

/*.container::before{*/
/*    top: -25px;*/
/*    left: -25px;*/
/*}*/

/*.container::after{*/
/*    top: -25px;*/
/*    right: -25px;*/
/*}*/
.posts{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
    border-radius: 15px;
    padding: 5px;
    color: black;
    align-items: start;
    max-width: 100%;
    border: #000038 solid 2px;


}
.date{
font-size: x-small;
}
/*.pfp{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
hr{
    background-color: purple ;
}
.hoverable{
    opacity: 0.4;
}
.hoverable:hover{
    opacity: 0.6;
    cursor: pointer;
}
.error-msg{
    color: red;
}

::file-selector-button{
    background-color: #ffa697;
    border-radius: 5px;
    border: none;
    color: black;
    width: 100px;
    height: 30px;
    font-size: 17px;
    padding: 5px;
    font-family: "Trebuchet MS", serif;
}

.navButton{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    vertical-align: center;
    height: 300px;
    align-content: center;
    /*justify-content: center;*/
    /*background-color: #a795c6;*/
    border-radius: 7px;
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    cursor: pointer;
    border: #000038 solid 5px;
    font-family: Lexend, sans-serif;
    font-weight: normal;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -9px;
    width: 50px;
    word-spacing: -9px ;
    overflow: visible;
}

.navButton:hover{
    /*filter: brightness(85%) contrast(115%) saturate(125%);*/
    transform: scale(1.1);
    box-shadow: 2px 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    /*background-color: #7559a6;*/
}

.navButton i{
    writing-mode: horizontal-tb;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.error-msg, #error-msg, #err-mes {
    color: red;
}


#logos {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
     /*background-image: linear-gradient(135deg,#ffe7e7,#ffedde,#ffffe5,#eafff3,#e6ffff, #eddef1);*/
    /*padding: 10px;*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

#logos img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
}



.header{
    vertical-align: center;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.goToProfile{

}

.goToProfile:hover{
    cursor: pointer;
}
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.lexend {
             font-family: "Lexend", sans-serif;
             font-optical-sizing: auto;
             font-weight: 400;
             font-style: normal;
         }
.ultra-regular {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

#profileBtn:hover{

}

#profileBtn{

}


